<% include partials/header.ejs %>

<form action="/enroll" method="post" style="width:400px; height: 500px; margin: 25px auto; ">
    <div class="form-group">
        <label for="name">Enter Your Name : </label>
        <input class="form-control" id="name" type="text" name="user[name]" placeholder="name">
    </div>
    <div class="form-group">
        <label for="id">Enter your id: </label>
        <input class="form-control" id="id" type="text" name="user[id]" placeholder="id">
    </div>
    <div class="form-group">
        <input id="submit" class="btn btn-success btn-block" type="submit" value="enroll">
    </div>

</form>

<% include partials/footer.ejs %>